/* .container {
	position: relative;
	width: 170px;
} */

body {
  height: 100%;
}

.kotak {
  width: 210px;
  height: 60px;
  padding-top: 1px;
  margin-top: 10px;
  border-radius: 10px;
  /* border: 1px solid white; */
}
p .w-nav {
  width: 100px;
  margin-right: 10px;
}
.kotak:active {
  background-color: #1c222c;
}

.bg-gray {
  background-color: #1c222c;
}

.bg-green {
  background: rgb(0, 92, 4);
  background: radial-gradient(
    circle,
    rgba(1, 135, 16, 1) 100%,
    rgba(0, 92, 4, 1) 0%
  );
}
.bg-green:active {
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
}
.bg-red:active {
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
}
.bg-red-ack {
  background-color: red;
}
.bg-red {
  background-color: red;
  animation-name: animred;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bg-yellow {
  background-color: yellow;
  animation-name: animyellow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animyellow {
  from {
    background-color: yellow;
  }

  to {
    background-color: rgb(56, 56, 56);
  }
}

@keyframes animred {
  from {
    background-color: red;
  }

  to {
    background-color: rgb(56, 56, 56);
  }
}

.content {
  padding-top: 15px;
  padding-left: -100px;
}

.icon-big {
  text-align: text-justify;
  font-size: 70px;
  padding-top: 40px;
  padding-left: 20px;
  position: absolute;
}

/* #gl1 {
    width: 10px;
    height: 10px;
    background-size: cover;
    background-image: url("../assets/images/das/green.png");
    background-repeat: no-repeat;
    TOP: 176px;
    left: 352PX;
    z-index: 99;
    position: absolute;

} */

/* end das16p */
/* navigasi tab */

.bgkotak {
  background-color: #1c222c;
  border-top: 1px;
}

.nav li:hover {
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid black;
  border-bottom: 1px solid #1c222c;
  background-color: #111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.aktive {
  border-top: 1px solid #111111;
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
  border-bottom: 1px solid #1c222c;
  background-color: #1c222c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* background-color: #aaaaa8; */
}

.grsmenu {
  border-top: 1px solid #111;
}

.pks {
  position: absolute;
  right: 20px;
  top: 10px;
  color: red;
}

/* end navigasi tab */
/* untuk dasport */
.disp {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

.box {
  margin: 10px;
  width: 180px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
  font-weight: bolder;
}

.box:hover {
  background-color: gray;
  color: black;
}

.box ul {
  float: left;
  margin-top: 10px;
}

.gmbr {
  font-size: 70px;
  line-height: 100px;
  margin-left: 5px;
  padding-right: 1px;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.clear {
  clear: both;
}

/* end dasport */

/* UNTUK PASSWORD */
.btn-dot:active {
  background-color: lightslategray;
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
  transform: scale(-1-1);
}
.btn-menu {
  height: 50px;
  width: 95%;
  text-align: center;
  vertical-align: middle;
  background: conic-gradient(
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6
  );
}
.btn-dot {
  height: 50px;
  width: 110px;
  border-radius: 10%;
  display: inline-block;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  background: conic-gradient(
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6
  );
}
.btn-dot:hover {
  background-color: lightslategray;
}
.lcd-pass {
  /* top: 80px; */
  height: 100px;
  width: 350px;
  background: linear-gradient(to bottom right, #ffc57a, #ff5100);
  border: solid 2px #111111;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.lmp-green-on {
  background-color: #0bdb00;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  -webkit-box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
  -moz-box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
  box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
}
.lmp-red-on {
  background-color: #db0000;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  -webkit-box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
  box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
}

.pos1 {
  position: fixed;
  top: 200px;
}
.pos2 {
  position: fixed;
  top: 300px;
}
.pos3 {
  position: fixed;
  top: 400px;
}
.pos4 {
  position: fixed;
  top: 500px;
}
.pos5 {
  position: absolute;
  top: 600px;
}

.botttomButton {
  position: absolute;
  top: 740px;
  left: 740px;
  font-size: 100px;
}

@media only screen and (max-width: 1281px) {
  /* For tablets: */

  .kotak {
    font-size: 17px;
    width: 200px;
    height: 76px;
    padding-top: 12px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .btn-menu {
    height: 50px;
    width: 95%;
    text-align: center;
    vertical-align: middle;
    background: conic-gradient(
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6
    );
  }

  .btn-dot {
    height: 50px;
    width: 110px;
    border-radius: 10%;
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    background: conic-gradient(
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6
    );
  }
}

@media only screen and (max-width: 1025px) {
  /* For tablets: */

  .kotak {
    font-size: 13px;
    width: 150px;
    height: 48px;
    padding-top: 1px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .btn-menu {
    height: 50px;
    width: 95%;
    text-align: center;
    vertical-align: middle;
    background: conic-gradient(
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6
    );
  }
  .btn-dot {
    height: 50px;
    width: 110px;
    border-radius: 10%;
    display: inline-block;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    background: conic-gradient(
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6,
      #d7d7d7,
      #c3c3c3,
      #cccccc,
      #c6c6c6
    );
  }

  .lcd-pass {
    height: 100px;
    width: 350px;
    background: linear-gradient(to bottom right, #ffc57a, #ff5100);
    border: solid 2px #111111;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .lmp-green-on {
    background-color: #0bdb00;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    -webkit-box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
    -moz-box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
    box-shadow: 0px 0px 12px 4px rgba(11, 219, 0, 0.9);
  }

  .lmp-red-on {
    margin-left: -100px;

    background-color: #db0000;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    -webkit-box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
    box-shadow: 0px 0px 12px 4px rgba(219, 0, 0, 0.9);
  }

  .botttomButton {
    position: absolute;
    margin-top: 150px;
    margin-left: 140px;
    font-size: 12px;
  }

  .auth {
    margin-top: 20px;
  }
}
.hide {
  display: none;
}
