<div class="my-3 bg-dark text-white " style="border-radius: 5px;">
    <div class="bg-success col-lg-12 " style="border-radius: 5px;  ">
        <h3>Device Settingggg</h3>
    </div>
    <div style="margin:10px;">
        <label class="jQKeyboard" for="code">Device Code</label>
        <input class="col-lg-12 form-control jQKeyboard key" type="text" name="" id="code" disabled>
        <div id="ip"></div>
    </div>
    <hr>
    <div style=" margin:10px">
        <label class="jQKeyboard" for="location">Location</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="location">
    </div>
    <hr>
    <div style="margin:10px">
        <label class="jQKeyboard" for="name">Device Name</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="name">
    </div>
    <hr>
    <div style="margin:10px">
        <label class="jQKeyboard" for="bot_name" >Bot Name</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="bot_name" disabled>
    </div>
    <br>
    <div style="margin:10px">
        <button class="btn btn-danger font-weight-bold" id="btn-del" style="width:100%;"> <i
            class="fas fa-trash"></i> &nbsp
        Delete Log
        </button>
    </div>
    <div style="margin:10px">
        <button class="btn btn-primary font-weight-bold" id="btn-restart" style="width:100%;"> <i
            class="fa fa-refresh"></i> &nbsp
        Restart Device
        </button>
    </div>
    <hr>
</div>
</br>
<div class="my-3 bg-dark text-white " style="border-radius: 5px;">
    <div class="bg-info col-lg-12 " style="border-radius: 5px;">
        <h3>Network Setting</h3>
    </div>
    <div style="margin:10px;">
        <label class="jQKeyboard" for="ipserver">IP SERVER</label>
        <input class="col-lg-12 form-control jQKeyboard key" type="text" name="" id="ipserver">
        <div id="ip"></div>
    </div>
    <hr>
    <div style=" margin:10px">
        <label class="jQKeyboard" for="ipaddress">IP ADDRESS</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="ipaddress">
    </div>
    <hr>
    <div style="margin:10px">
        <label class="jQKeyboard" for="netmask">NETMASK</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="netmask">
    </div>
    <hr>
    <div style="margin:10px">
        <label class="jQKeyboard" for="gateway">GATEWAY</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="gateway">
    </div>
    <hr>
    <div style="margin:10px">
        <label class="jQKeyboard" for="dns">DNS</label>
        <input class="col-lg-12 form-control jQKeyboard" type="text" name="" id="dns">
    </div>
    <hr>
    <div class="d-flex justify-content-between flex-fill">
        <button class="btn btn-danger  flex-fill font-weight-bold" id="btncancel" style="height:40px;"> <i
                class="fas fa-chevron-circle-left"></i> &nbsp
            CANCEL
        </button>
        <button class="btn btn-success flex-fill font-weight-bold" id="btnsave" style="height:40px;"><i class="fas fa-check-circle"></i>
            &nbsp
            SAVE
        </button>
    </div>
</div>
<div style="margin-bottom: 200px;"></div>
<script>
    //first load
   
    $.ajax({
        method: "get",
        url: 'backend/webapi/viewsetting.php'
    }).done(function (msg) {
        let data = JSON.parse(msg)
        $('#code').val(data[0].kode_mesin)
        $('#bot_name').val(data[0].botname)
        $('#location').val(data[0].nama_gi)
        $('#name').val(data[0].nama)

        $('#ipserver').val(data[0].ipserver)
        $('#ipaddress').val(data[0].iplocal)
        $('#netmask').val(data[0].netmask)
        $('#gateway').val(data[0].gateway)
        $('#dns').val(data[0].dns)
    })

    //keyboard service
    $('#ipserver').click(function () {

        $('#key').show()
        $('#key').removeClass('pos2')
        $('#key').removeClass('pos3')
        $('#key').removeClass('pos4')
        $('#key').removeClass('pos5')
        $('#key').addClass('pos1')
    })
    $('#ipaddress').click(function () {
        $('#key').show()
        $('#key').removeClass('pos1')
        $('#key').removeClass('pos3')
        $('#key').removeClass('pos4')
        $('#key').removeClass('pos5')
        $('#key').addClass('pos2')
    })
    $('#netmask').click(function () {
        $('#key').show()
        $('#key').removeClass('pos1')
        $('#key').removeClass('pos2')
        $('#key').removeClass('pos4')
        $('#key').removeClass('pos5')
        $('#key').addClass('pos3')
    })
    $('#gateway').click(function () {
        $('#key').show()
        $('#key').removeClass('pos1')
        $('#key').removeClass('pos2')
        $('#key').removeClass('pos3')
        $('#key').removeClass('pos5')
        $('#key').addClass('pos4')
    })
    $('#dns').click(function () {
        $('#key').show()
        $('#key').removeClass('pos1')
        $('#key').removeClass('pos2')
        $('#key').removeClass('pos3')
        $('#key').removeClass('pos4')
        $('#key').addClass('pos5')
    })

    var keyboard = {
        'layout': [
            // alphanumeric keyboard type
            // text displayed on keyboard button, keyboard value, keycode, column span, new row
            [
                [
                    ['`', '`', 192, 0, true], ['1', '1', 49, 0, false], ['2', '2', 50, 0, false], ['3', '3', 51, 0, false], ['4', '4', 52, 0, false], ['5', '5', 53, 0, false], ['6', '6', 54, 0, false],
                    ['7', '7', 55, 0, false], ['8', '8', 56, 0, false], ['9', '9', 57, 0, false], ['0', '0', 48, 0, false], ['-', '-', 189, 0, false], ['=', '=', 187, 0, false],
                    ['q', 'q', 81, 0, true], ['w', 'w', 87, 0, false], ['e', 'e', 69, 0, false], ['r', 'r', 82, 0, false], ['t', 't', 84, 0, false], ['y', 'y', 89, 0, false], ['u', 'u', 85, 0, false],
                    ['i', 'i', 73, 0, false], ['o', 'o', 79, 0, false], ['p', 'p', 80, 0, false], ['[', '[', 219, 0, false], [']', ']', 221, 0, false], ['&#92;', '\\', 220, 0, false],
                    ['a', 'a', 65, 0, true], ['s', 's', 83, 0, false], ['d', 'd', 68, 0, false], ['f', 'f', 70, 0, false], ['g', 'g', 71, 0, false], ['h', 'h', 72, 0, false], ['j', 'j', 74, 0, false],
                    ['k', 'k', 75, 0, false], ['l', 'l', 76, 0, false], [';', ';', 186, 0, false], ['&#39;', '\'', 222, 0, false], ['Enter', '13', 13, 3, false],
                    ['Shift', '16', 16, 2, true], ['z', 'z', 90, 0, false], ['x', 'x', 88, 0, false], ['c', 'c', 67, 0, false], ['v', 'v', 86, 0, false], ['b', 'b', 66, 0, false], ['n', 'n', 78, 0, false],
                    ['m', 'm', 77, 0, false], [',', ',', 188, 0, false], ['.', '.', 190, 0, false], ['/', '/', 191, 0, false], ['Shift', '16', 16, 2, false],
                    ['Bksp', '8', 8, 3, true], ['Space', '32', 32, 12, false], ['Clear', '46', 46, 3, false], ['Cancel', '27', 27, 3, false]
                ]
            ]
        ]
    }
    $('input.jQKeyboard').initKeypad({ 'keyboardLayout': keyboard });

    $('#btn-del').click(function () {
        $("#valmodal").modal('show')
        $("#text-config").text("Do you want to delete data?")
        $("#conf-text").text("del")
    });
    $('#btn-restart').click(function () {
        $("#valmodal").modal('show')
        $("#text-config").text("Do you want to Restart device?")
        $("#conf-text").text("rest")
    });
    $('#btn-yes').click(function () {
        let conf =   $("#conf-text").text()
       if(conf =="del"){
           deletedevice();
       }
       else if(conf=="rest"){
          restartdevice()
       }
    });
    $('#btn-no').click(function(){
        $("#valmodal").modal('hide')
    })
    function deletedevice(){
        $.ajax({
            method:"get",
            url: 'backend/webapi/deletelog.php'
        }).done(function(){Swal.fire({
                    position: 'top-center',
                    icon: 'success',
                    title: 'Your data has been deleted',
                    showConfirmButton: false,
                    timer: 1500
                }).then(function () {  $("#valmodal").modal('hide') })
           
        })
    }
    function restartdevice(){
        $.ajax({
            method:"get",
            url: 'backend/webapi/reboot.php'
        }).done(function(){Swal.fire({
                    position: 'top-center',
                    icon: 'success',
                    title: 'device is restarted',
                    showConfirmButton: false,
                    timer: 1500
                }).then(function () {  $("#valmodal").modal('hide') })
           
        })
    }
    $('#btncancel').click(function () {
        gotohome()
    });
    $('#btnsave').click(function () {
        let ipserver = $('#ipserver').val();
        let ipaddress = $('#ipaddress').val();
        let netmask = $('#netmask').val();
        let gateway = $('#gateway').val();
        let dns = $('#dns').val();
        let loc = $('#name').val();
        let name = $('#location').val();
        $.ajax({
            method: "post",
            url: 'backend/webapi/updatesetting.php',
            data: {
                ipserver: ipserver,
                ipaddr: ipaddress,
                netmask: netmask,
                gateway: gateway,
                dns: dns,
                loc:loc,
                name:name,

            }
        }).done(function (msg) {

             let data = JSON.parse(msg)
            if(data.code==1){
                Swal.fire({
                    position: 'top-center',
                    icon: 'success',
                    title: 'Your data has been saved',
                    showConfirmButton: false,
                    timer: 1500
                }).then(function () { gotohome() })
             }
             else{
                 alert(msg)
             }
            // alert('update success')
        })
    });

</script>