<div class="auth" style="opacity: 1">
  <div class="lcd-pass text-center">
    <h3 class="text-center text-dark" id="txttitle">ENTER PIN</h3>
    <h5
      class="text-center text-dark"
      style="letter-spacing: 20px; font-size: 50px"
      id="txtpin"
    ></h5>
    <input hidden type="number" name="" id="inputpin" />
  </div>
  <div
    class="d-flex justify-content-between flex-fill"
    style="
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    "
  >
    <div id="btn-cancel" class="btn-menu btn text-danger">
      <h4 style="margin-top: 4px" id="textCancel"><b>CANCEL</b></h4>
    </div>
    <div id="btn-enter" class="btn-menu btn text-success">
      <h4 style="margin-top: 4px" id="textEnter"><b>ENTER</b></h4>
    </div>
  </div>
  <div
    class="d-flex flex-wrap"
    style="margin-left: auto; margin-right: auto; width: 350px"
  >
    <div id="btn1" class="btn-dot btn">
      <h1><b>1</b></h1>
    </div>
    <div id="btn2" class="btn-dot btn">
      <h1><b>2</b></h1>
    </div>
    <div id="btn3" class="btn-dot btn">
      <h1><b>3</b></h1>
    </div>
    <div id="btn4" class="btn-dot btn">
      <h1><b>4</b></h1>
    </div>
    <div id="btn5" class="btn-dot btn">
      <h1><b>5</b></h1>
    </div>
    <div id="btn6" class="btn-dot btn">
      <h1><b>6</b></h1>
    </div>
    <div id="btn7" class="btn-dot btn">
      <h1><b>7</b></h1>
    </div>
    <div id="btn8" class="btn-dot btn">
      <h1><b>8</b></h1>
    </div>
    <div id="btn9" class="btn-dot btn">
      <h1><b>9</b></h1>
    </div>
    <div id="btnA" class="btn-dot btn">
      <h1><b>*</b></h1>
    </div>
    <div id="btn0" class="btn-dot btn">
      <h1><b>0</b></h1>
    </div>
    <div id="btnB" class="btn-dot btn">
      <h1><b>#</b></h1>
    </div>
  </div>
  <!-- <div class="d-flex flex-wrap" style="position: absolute;left: 800px; top: 240px;z-index:2;">
    <div class="lmp-green-on" style="margin-right:200px"></div>
    <div class="lmp-red-on"></div>
  </div> -->
</div>
<script>
  function checkpin(data) {
    let pinlength = $("#inputpin").val().length;
    if (pinlength < 6) {
      $("#txtpin").append("*");
      $("#inputpin").val($("#inputpin").val() + data);
    }
  }
  function clearpin() {
    $("#txtpin").text($("#txtpin").text().slice(0, -1));
    $("#inputpin").val($("#inputpin").val().slice(0, -1));
  }
  function clearall() {
    $("#txtpin").text("");
    $("#inputpin").val("");
  }
  function validate() {
    $.ajax({
      method: "get",
      url: "../backend/webapi/viewsetting.php",
    }).done(function (msg) {
      let data = JSON.parse(msg);
      let auth = data[0].auth;
      let datas = $("#inputpin").val();

      if (datas.indexOf(auth) > -1) {
        $("#txttitle").text("Password OK");
        let chn = $("#flg_set").text();
        if (chn == "chn") {
          gotodetail($("#port").text());
          //alert()

          $("#authmodal").modal("hide");
        } else {
          gotosetting();
          $("#authmodal").modal("hide");
        }
        //
      } else {
        $("#txttitle").text("Password Invalid");
      }
    });
  }
  $("#btn1").click(function () {
    checkpin(1);
  });
  $("#btn2").click(function () {
    checkpin(2);
  });
  $("#btn3").click(function () {
    checkpin(3);
  });
  $("#btn4").click(function () {
    checkpin(4);
  });
  $("#btn5").click(function () {
    checkpin(5);
  });
  $("#btn6").click(function () {
    checkpin(6);
  });
  $("#btn7").click(function () {
    checkpin(7);
  });
  $("#btn8").click(function () {
    checkpin(8);
  });
  $("#btn9").click(function () {
    checkpin(9);
  });
  $("#btn0").click(function () {
    checkpin(0);
  });
  $("#btnA").click(function () {
    clearpin();
  });
  $("#btnB").click(function () {
    clearall();
  });
  $("#btn-enter").click(function () {
    validate();
  });
  $("#btn-cancel").click(function () {
    $("#authmodal").modal("hide");
    gotohome();
  });
</script>
