<style>
  hr {
    background-color: gray;
  }
</style>
<div class="my-3 bg-dark text-white" style="border-radius: 5px">
  <div
    class="col-lg-12"
    style="background-color: #1182bfb5; border-radius: 5px; padding: 5px 10px"
  >
    <h5>Device Detail</h5>
  </div>
  <div hidden>
    <img
      src="assets/pic/default.png"
      style="
        position: absolute;
        right: 50px;
        width: 400px;
        height: 250px;
        background-color: blanchedalmond;
      "
      id="img"
    />
    <input type="file" id="photo" name="photo" accept="image/*" />
  </div>
  <div class="col-lg-12">
    <label class="jQKeyboard" for="channel_name">Channel</label>
    <input
      class="col-lg-12 form-control jQKeyboard key"
      type="text"
      name=""
      id="channel"
      disabled
    />
  </div>
  <hr class="conf" />
  <div class="col-lg-12">
    <label class="jQKeyboard" for="channel_name">Channel Name</label>
    <input
      class="col-lg-12 form-control jQKeyboard key txt-input"
      type="text"
      name=""
      id="channel_name"
      max="30"
      disabled
    />
    <div id="ip"></div>
  </div>
  <div class="view col-lg-12">
    <label class="jQKeyboard" for="status">Status</label>
    <input
      class="col-lg-12 form-control jQKeyboard txt-input"
      type="text"
      name=""
      id="status"
      disabled
    />
  </div>

  <br class="view" />
  <hr class="conf" />
  <div class="conf col-lg-12">
    <label class="jQKeyboard" for="delay">Delay Time</label>
    <input
      type="range"
      class="form-control-range"
      min="0"
      max="9"
      oninput="delayvalue.value=value"
      id="delay"
    />
    <output class="text-center" id="delayvalue" val="9"></output>
  </div>

  <br class="view" />
  <hr class="conf" />
  <div class="conf" style="margin: 10px">
    <label class="jQKeyboard" for="high">Status HIGH</label>
    <input
      class="col-lg-12 form-control jQKeyboard txt-input"
      type="text"
      max="15"
      name=""
      id="high"
    />
  </div>
  <div style="margin: 10px" class="form-check conf">
    <input class="form-check-input" type="checkbox" id="high_tel" />
    <label class="form-check-label" for="high_tel"> Send Telegram </label>
  </div>

  <hr class="conf" />
  <div class="conf" style="margin: 10px">
    <label class="jQKeyboard" for="low">Status LOW</label>
    <input
      class="col-lg-12 form-control jQKeyboard txt-input"
      type="text"
      name=""
      id="low"
    />
  </div>
  <div style="margin: 10px" class="form-check conf">
    <input class="form-check-input" type="checkbox" id="low_tel" />
    <label class="form-check-label" for="low_tel"> Send Telegram </label>
  </div>

  <hr class="conf" />
  <hr class="view" />
  <div style="margin: 10px">
    <label class="jQKeyboard" for="status">Description</label>
    <textarea
      rows="4"
      cols="50"
      class="col-lg-12 txt-input form-control jQKeyboard"
      name=""
      id="description"
      disabled
    ></textarea>
  </div>
  <hr class="conf" />
  <div style="margin: 10px" class="form-check conf">
    <input class="form-check-input" type="checkbox" value="" id="invert" />
    <label class="form-check-label" for="invert"> INVERT </label>
  </div>
  <hr class="conf" />
  <div class="d-flex justify-content-between flex-fill">
    <button class="btn btn-danger flex-fill font-weight-bold" id="btncancel">
      <i class="fas fa-chevron-circle-left"></i> &nbsp CANCEL
    </button>
    <button
      class="btn btn-success flex-fill font-weight-bold conf"
      id="btnsave"
    >
      <i class="fas fa-check-circle"></i>
      &nbsp SAVE
    </button>
    <button
      class="btn btn-success flex-fill font-weight-bold view"
      id="btnconf"
    >
      <i class="fas fa-check-circle"></i>
      &nbsp Configuration
    </button>
  </div>
</div>
<div style="margin-bottom: 100px"></div>
<script>
  $("#my_image").attr("src", "second.jpg");
  // $('#img').attr('src','second.jpg');
  var port = $("#port").text();
  var flg = $("#flg_set").text();
  $.ajax({
    method: "get",
    url: "backend/webapi/viewchannel_byport.php?port=" + port,
  }).done(function (msg) {
    let data = JSON.parse(msg);
    //alert(data[0].img)
    $("#img").attr("src", data[0].img);
    $("#channel").val(data[0].port);
    $("#channel_name").val(data[0].nama_alat);
    $("#description").val(data[0].detail);
    $("#low").val(data[0].low);
    $("#high").val(data[0].high);
    $("#delay").val(data[0].delay);
    $("#delayvalue").text(data[0].delay);
    let kondisi = data[0].flag_kondisi;
    //$('#takenBefore').prop('checked');
    let tel_high = data[0].tel_high;
    let tel_low = data[0].tel_low;
    let invert = data[0].invert;
    if (tel_high > 0) {
      $("#high_tel").prop("checked", true);
    }
    if (tel_low > 0) {
      $("#low_tel").prop("checked", true);
    }
    if (invert > 0) {
      $("#invert").prop("checked", true);
    }

    if (kondisi > 0) {
      $("#status").val(data[0].high);
    } else {
      $("#status").val(data[0].low);
    }
    if (flg == "chn") {
      //alert("setting channel")
      $(".txt-input").prop("disabled", false);
      $(".conf").show();
      $(".view").hide();
    } else {
      //alert("viewchannel")
      $(".txt-input").prop("disabled", true);
      $(".conf").hide();
      $(".view").show();
    }
    //alert(msg)
  });
  $("#btnconf").click(function () {
    stoploop();
    // $("#main").load("main/auth.html");
    showauth();
    $("#flg_set").text("chn");
  });
  $("#btncancel").click(function () {
    gotohome();
  });
  $("#btnsave").click(function () {
    //$("#some_id").attr("checked") ? 1 : 0;
    let channel = $("#channel").val();
    let name = $("#channel_name").val();
    let high = $("#high").val();
    let low = $("#low").val();
    let delay = $("#delayvalue").val();
    let tel_high = $("#high_tel").is(":checked");
    let tel_low = $("#low_tel").is(":checked");
    let description = $("#description").val();
    let invert = $("#invert").is(":checked");
    $.ajax({
      method: "post",
      url: "backend/webapi/updatechannel.php",
      data: {
        nama_alat: name,
        high: high,
        low: low,
        tel_high: tel_high,
        tel_low: tel_low,
        detail: description,
        invert: invert,
        delay: delay,
        port: channel,
      },
    }).done(function (msg) {
      Swal.fire({
        position: "top-center",
        icon: "success",
        title: "Your data has been saved",
        showConfirmButton: false,
        timer: 1500,
      }).then(function () {
        gotohome();
      });
    });
  });
</script>
