<style></style>
<div class="d-flex flex-wrap" id="das-container" style="width: 100%">
  <!-- <div class="kotak bg-red btn text-left">
        <h7 style="margin-left:5px" class="text-primary">
            <b>ANOUNCER</b></h7>
        <br>
        <h7 style="margin-left:5px;margin-top:-5px" class="text-white">TRIP</h7>
    </div> -->
</div>
<script>
  $.ajax({
    method: "get",
    url: "../api/item/10",
  }).done(function (msg) {
    let data = msg;
    for (let i = 0; i < data.length; i++) {
      var kondisi = "";

      let classStatus = "";
      if (data[i].flag_kondisi == "1") {
        kondisi = data[i].high;
        classStatus = "bg-red";
      } else {
        kondisi = data[i].low;
        classStatus = "bg-green";
      }
      $("#das-container").append(`
                 <div class="kotak ${classStatus} btn text-left mr-auto" id ="box-${data[i].port}" onclick="gotodetail('${data[i].port}')" style="word-wrap: break-word;">
                    <i class="far fa-sun text-light" aria-hidden="true" style="position:absolute;margin-left:-5px;margin-top:10px;font-size: 30px;z-index:10;"></i>
                    <p style=" letter-spacing: -1px; line-height: 80%; margin-left:27px;margin-top:1px ;margin-bottom:-10px" class="text-light text-center">
                    <b>${data[i].nama_alat}</b></p>
                <br>
                <p hidden style="margin-left:30px;margin-top:-10px;" class="text-light" id=txt-kondisi-${data[i].port}> ${kondisi}</p > <br>
            <p hidden style=" float: right;margin-top:-40px" class="text-light" style="z-index:+10"> Port :${data[i].port}</p>      
                </div>`);
    }
  });
  const loopKondisi = setInterval(readKondisi, 1000);

  function readKondisi() {
    $.ajax({
      method: "get",
      url: "../api/item/10",
    }).done(function (msg) {
      let data = msg;
      let ack = $("#ack-config").text();
      for (let i = 0; i < data.length; i++) {
        let classStatus = "";

        if (data[i].flag_kondisi == "1" && ack == 0) {
          $("#box-" + data[i].port).removeClass("bg-green");
          $("#box-" + data[i].port).removeClass("bg-red-ack");
          $("#box-" + data[i].port).addClass("bg-red");
          $("#txt-kondisi-" + data[i].port).text(data[i].high);
        } else if (data[i].flag_kondisi == "1" && ack == 1) {
          $("#box-" + data[i].port).removeClass("bg-green");
          $("#box-" + data[i].port).removeClass("bg-red");
          $("#box-" + data[i].port).addClass("bg-red-ack");
          $("#txt-kondisi-" + data[i].port).text(data[i].high);
        } else {
          $("#box-" + data[i].port).removeClass("bg-red");
          $("#box-" + data[i].port).removeClass("bg-red-ack");
          $("#box-" + data[i].port).addClass("bg-green");
          $("#txt-kondisi-" + data[i].port).text(data[i].low);
        }
      }
    });
  }
  function stoploop() {
    clearInterval(loopKondisi);
  }
  function gotodetail(x) {
    // alert(x)
    $("#port").text(x);
    $("#main").load("main/channel.html");
  }
  function activate(ele) {
    if (ele.requestFullscreen) {
      ele.requestFullscreen();
      document.getElementById(full).style.display = "hidden";
    }
  }
</script>
